<<<<<<< HEAD
<% /* %>
=======
<% /* %><% */ %>
>>>>>>> 41fb9f17da2ce0394619c60749fcaeb4f4338d16
<!DOCTYPE html>
<html lang="en-nz">

    <head>
        <title>DemoDRA - Current Weather</title>

        <link rel="stylesheet" href="/built/css/default.css" />

        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-route/angular-route.js"></script>
        <script src="/js/controllers.js"></script>
        
            <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      #map {
        height: 50%;
      }
      html, body {
        height: 50%;
        margin: 2;
        padding: 0;
      }
        
    </head>

    <body>
        <div float="left">
            <% include includes/mainbody %>
        </div>
        
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -41.811244, lng: 173.687056},
          zoom: 0
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC22hm5Rl_JgliDoxIcY6t8AmjlrrS33cw&callback=initMap"
    async defer></script>
        
    </body>

    <script>
         angular.element(document).ready(function() {
            angular.bootstrap(document, ['ConsoleModule']);
        });
    </script>

</html>
<<<<<<< HEAD
<% */ %>

<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC22hm5Rl_JgliDoxIcY6t8AmjlrrS33cw&callback=initMap"
    async defer></script>
  </body>
</html>
=======

>>>>>>> 41fb9f17da2ce0394619c60749fcaeb4f4338d16
